$primaryColor: #3e464c;
$primaryDarkColor: #2b3135;
$primaryLightColor: #777d81;
$accentColor: #dfa242;
$accentDarkColor: #df8e17;
$accentLightColor: #baa242;
$accentTextColor: #ffffff;
$darkMenuBgColor: #2b3135;
$darkMenuHoverColor: #777d81;

@import '../../sass/layout/_layout';