/* SERVER */
.serverContent {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.dashboard .colorbox .colorbox-name {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 25px 0 10px 0 !important;
    color: #ffffff;
}

.dashboard .colorbox a > i:hover {
    color: #e8e8e8;
}


.dashboard .ui-panelgrid-cell {
    padding: 0px 16px !important;
}

.serverBGItem {
    background-color: #3e464c
}

.serverLed {
    font-size: 25px !important;
    margin-top: 20px !important;
}

.serverSync {
    color: #e3ded7;
    margin-top: -8px;
}